<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>R for Reproducible Scientific Analysis</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>R for Reproducible Scientific Analysis</td> </tr>
      <tr> <td>11:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>18:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
